<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_flutter">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <application
        android:label="app_flutter">
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCm_e6vf9EKkxE0flaGRkaFi7aH4fH8eNs" />

        <!-- Other configurations -->

    </application>
</manifest>